[data-theme='dark'] {
  --color-primary: rgba(0, 0, 0, 0.56);
  --color-primary-variant: #373737;
  --color-secondary: #03dac6;
  --color-background: #252525;
  --color-surface: #1e1e1e;
  --color-error: #cf6679;

  --color-on-primary: #ffffff;
  --color-on-secondary: #efefef;
  --color-on-background: #ffffff;
  --color-on-surface: #ffffff;
  --color-on-error: #000000;
}
